/*
    Document   : style
    Created on : Oct 17, 2013, 11:49:28 PM
    Author     : cornel
    Description:
        Purpose of the stylesheet follows.
*/

@charset "utf-8";

@font-face {
    font-family: 'GeosansLight';
    src: url('../fonts/geosanslight/geosanslight.eot');
    src: url('../fonts/geosanslight/geosanslight.eot?#iefix') format('embedded-opentype'), url('../fonts/geosanslight/geosanslight.woff') format('woff'), url('../fonts/geosanslight/geosanslight.ttf') format('truetype'), url('../fonts/geosanslight/geosanslight.svg#GeosansLight') format('svg');
}

/** General styles **/
root {
    display: block;
}

nav a:hover,
nav a:focus {
    outline: none;
}

* {
    margin: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: inherit;
}

a:link {
    color: #fff;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-size: 1.18em;
    font-family: 'GeosansLight', Fallback, sans-serif;
    background: rgb(242, 242, 242);
}

body {
    overflow-y: scroll;
}

.page {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -5em;
}

.header {
    width: 100%;
}

.base-header {
    z-index: 101;
}

.logo-header {
    background: #495160;
    font-size: 0em;
}

.logo-img-wrapper {
    max-width: 265px;
    margin: 0 auto;
}

.logo-header img {
    width: 100%;
}

.nav-wrapper {
    width: 100%;
    background: rgb(242, 242, 242);
    font-size: 22px;
}

.base-navigation {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 12px 0;
}

.base-navigation ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.base-navigation li {
    display: inline;
}

.base-navigation ul li a {
    text-decoration: none;
    padding: 0px 14px;
    color: rgb(133, 132, 138);
    background: none;
}

/* Try to do transition effect. */
.base-navigation ul li {
    overflow: hidden;
    / / height : 1 em;
}

.nav-wrapper .nav-level-2 ul li a {
    position: relative;
    display: inline-block;
    -webkit-transition: -webkit-transform 0.3s;
    -moz-transition: -moz-transform 0.3s;
    transition: transform 0.3s;
}

.nav-wrapper .nav-level-2 ul li a::before {
    color: #d68caf;
    position: absolute;
    content: attr(data-hover);
    /*font-weight: 700;*/
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.nav-wrapper .nav-level-1 ul li a.active,
.nav-wrapper .nav-level-1 ul li a:hover,
.nav-wrapper .nav-level-1 ul li a:focus {
    /*font-weight: 700;*/
    color: #d68caf;
}

.nav-wrapper .nav-level-2 ul li a:hover,
.nav-wrapper .nav-level-2 ul li a:focus {
    /*font-weight: 700;*/
    color: #080808;
    -webkit-transform: translateY(-8%);
    -moz-transform: translateY(-8%);
    transform: translateY(-8%);
}

.base-navigation ul li a.active {
    /*font-weight: 500;*/
    color: #080808;
}

.nav-wrapper .nav-level-2 {
    padding: 0px;
}

.nav-wrapper .nav-level-2 ul li {
    text-transform: capitalize;
}

.nav-wrapper .nav-level-2 ul li a {
    text-transform: lowercase;
    margin: 1px;
    padding: 5px;
}

/*--------------*/

.contact-slogan {
    margin: 30px auto;
    width: 100%;
    text-align: center;
}

/* START Contat Animation*/
.contact-animation {
    margin: 2px auto;
    width: 100%;
    /*border:1px solid black;*/
    height: 170px;
}

.contact-animation:hover {
    cursor: default;
}

.contact-animation .pink-point {
    font-size: 3em;
    color: pink;
    line-height: 0;

}

.contact-animation .here-top {
    font-size: 0.4em;
    overflow: hidden;
    position: absolute;
    display: block;
    width: 150px;
    text-align: center;
    top: 8px;
    left: -438%;
}

.contact-animation .here-bottom {
    font-size: 0.4em;
    overflow: hidden;
    position: absolute;
    display: block;
    width: 150px;
    text-align: center;
    left: -75px;
}

/* END Contat Animation*/

.dot-g {
    display: block;
    position: relative;
    float: left;
}

/*START footer*/
.footer, .push {
    height: 5em;
}

.footer {
    background: #495060;
    text-align: center;
}

.footer {
    color: rgb(254, 255, 253);
    width: 100%;
    position: fixed;
    z-index: -1;
    bottom: 0;
}

/* Footer CONTACT link effect: Brackets */
.footer .f-block-1 a::before,
.footer .f-block-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.footer .f-block-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.footer .f-block-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.footer .f-block-1 a:hover::before,
.footer .f-block-1 a:hover::after,
.footer .f-block-1 a:focus::before,
.footer .f-block-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}

.footer .f-block-1 {
    position: relative;
    padding-top: 20px;

}

.f-icons {
    position: relative;
    padding-top: 20px;
}

.f-icons ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    margin: 10px;
}

.f-icons li {
    display: inline;
}

.f-icons ul li a {
    text-decoration: none;
    margin: 4px;
    padding: 5px 20px 5px 20px;
    color: #85848a;
    background: none;
}

.f-icons li {
    width: 20px;
    height: 20px;
}

.f-icons li a {
    width: 100%;
}

.f-icons li[rel="linked-in"] a {
    background: url("../img/icons/l-i.png") top;
}

.f-icons li[rel="linked-in"] a:hover {
    background: url("../img/icons/l-i.png") bottom;
    cursor: pointer;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
}

.f-icons li[rel="fb"] a {
    background: url("../img/icons/fb.png") top;
}

.f-icons li[rel="fb"] a:hover {
    background: url("../img/icons/fb.png") bottom;
    cursor: pointer;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;

}

.f-icons li[rel="vimeo"] a {
    background: url("../img/icons/vimeo.png") top;
}

.f-icons li[rel="vimeo"] a:hover {
    background: url("../img/icons/vimeo.png") bottom;
    cursor: pointer;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;

}

.f-icons li[rel="twitter"] a {
    background: url("../img/icons/twitter.png") top;
}

.f-icons li[rel="twitter"] a:hover {
    background: url("../img/icons/twitter.png") bottom;
    cursor: pointer;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;

}

.f-icons li[rel="yt"] a {
    background: url("../img/icons/yt.png") top;
}

.f-icons li[rel="yt"] a:hover {
    background: url("../img/icons/yt.png") bottom;
    cursor: pointer;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;

}

.f-icons li[rel="g-plus"] a {
    background: url("../img/icons/g-plus.png") top;
}

.f-icons li[rel="g-plus"] a:hover {
    background: url("../img/icons/g-plus.png") bottom;
    cursor: pointer;
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;

}

.f-icons ul li a:hover,
.f-icons ul li a.active {
    color: #d68caf;
}

.contact-magic {
    text-transform: uppercase;
    position: relative;
    padding-top: 40px;
}

.footer .contact-contacts {
    position: relative;
    padding-top: 20px;
    margin: 0 auto;
    width: 60%;
    font-size: 0.7em;
}

.copywrite {
    margin: 0 auto;
    width: 300px;
    font-size: 0.5em;
    border-top: 1px solid #767c88;
    margin-top: 20px;
}

.copywrite p {
    padding-top: 10px;
}

/*END footer*/

.brclear {
    clear: both;
    height: 0;
    margin: 0;
    font-size: 1px;
    line-height: 0;
    float: none;
}

.hide {
    display: none;
}

/*START Contact Animation*/
.contact-animation {
    font-size: 2em;
}

/*END Contact Animation*/

/*@media only screen and (max-width: 630px) {*/

/*body { font-size: 17px; }*/
/*.base-navigation {*/
/*width: 386px;*/
/*}*/

/*}*/

/*@media only screen and (max-width: 540px) {*/

/*body { font-size: 15px; }*/
/*.base-navigation ul li a {*/
/*margin: 2px;*/
/*padding: 2px 10px 2px 10px;*/
/*}*/
/*.base-navigation {*/
/*width: 272px;*/
/*}*/

/*}*/



/*END Contact Animation*/

/* Home page */
.home {
    text-align: center;
    z-index: 100;
}

.home-top-land {
    background: url('../img/base/home_top_bg.jpg') no-repeat center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.home-top-land .h-top-phone {
    margin: 20px 20px 10px 0;
    float: right;
    padding: 4px 20px;
    background: rgb(242, 242, 242);
    font-size: 35pt;
}

.fb-like {
    position: absolute !important;
    right: 20px;
    top: 70px;
}

.fb-like.fb-in-fixed-header {
    top: 20px !important;
    z-index: 105 !important;
}

.home-top-land .h-top-slogan-wrapp {
    width: 745px;
    margin: 0 auto;
    padding: 15px;
    background: rgba(0, 0, 0, 0);
    border-top: 1px solid rgb(255, 255, 255);
    border-bottom: 1px solid rgb(221, 187, 187);
    cursor: default;
    font-size: 60px;
}

.xouter {
    position: relative;
    left: 50%;
    float: left;
    clear: both;
    margin: 10px 0;
    text-align: left;
}

.xinner {
    padding: 10px 20px;
    position: relative;
    left: -50%;
}

.slogan-signature {
    text-align: right;
    margin: -14px -97px 0 0;
}

.home-top-land .h-top-slogan {
    position: relative;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    background: rgba(221, 133, 181, 0.85);
    opacity: 0.85;
    color: #fff;
    text-transform: uppercase;
}

.home-top-land .h-top-sub-slogan {
    position: relative;
    overflow: hidden;
    color: #fff;
    font-size: 33px;
}

.h-top-social {
    margin-top: 20px;
    clear: both;
}

.h-top-social ul {
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    margin-top: 10px;
    height: 35px;
}

.h-top-social ul li {
    display: inline;
}

.h-top-social ul li a {
    text-decoration: none;
    margin: 4px;
    /*padding: 5px 20px 5px 20px;*/
    color: #85848a;
    background: none;
    width: 35px;
    height: 35px;
    display: inline-block;
    /*float: left;*/
}

.h-top-social li a {
    -webkit-transition: background 0.2s ease-out;
    -moz-transition: background 0.2s ease-out;
    -o-transition: background 0.2s ease-out;
    transition: background 0.2s ease-out;
    cursor: pointer;
}

.h-top-social li[rel="linked-in"] a {
    background: url("../img/icons/social_icons.png") 0 35px;
}

.h-top-social li[rel="linked-in"] a:hover {
    background: url("../img/icons/social_icons.png") 0 0;
}

.h-top-social li[rel="fb"] a {
    background: url("../img/icons/social_icons.png") -35px -35px;
}

.h-top-social li[rel="fb"] a:hover {
    background: url("../img/icons/social_icons.png") -35px -70px;
}

.h-top-social li[rel="vimeo"] a {
    background: url("../img/icons/social_icons.png") -70px -35px;
}

.h-top-social li[rel="vimeo"] a:hover {
    background: url("../img/icons/social_icons.png") -70px -70px;
}

.h-top-social li[rel="twitter"] a {
    background: url("../img/icons/social_icons.png") -105px -35px;
}

.h-top-social li[rel="twitter"] a:hover {
    background: url("../img/icons/social_icons.png") -105px -70px;
}

.h-top-social li[rel="yt"] a {
    background: url("../img/icons/social_icons.png") -140px -35px;
}

.h-top-social li[rel="yt"] a:hover {
    background: url("../img/icons/social_icons.png") -140px -70px;
}

.h-top-social li[rel="g-plus"] a {
    background: url("../img/icons/social_icons.png") -175px -35px;
}

.h-top-social li[rel="g-plus"] a:hover {
    background: url("../img/icons/social_icons.png") -175px -70px;
}

.h-top-social ul li a:hover,
.h-top-social ul li a.active {
    color: #d68caf;
}

.home-art-block {
    overflow: hidden;
}

.home-first-text-piece {
    margin: 88px 0 0;
    font-size: 40px;
}

.home-art-block-img {
    margin: 40px auto 0;
    width: 1050px;
    height: 160px;
    background: #82d2e6;
}

.home-find-more-about {
    margin-top: 130px;
}

.home-find-more-about p {
    font-size: 30px;
}

.home-find-more-about ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    margin: 10px;
}

.home-find-more-about ul li {
    display: inline;
}

.home-find-more-about ul li a {
    ttext-decoration: none;
    margin: 4px;
    padding: 5px 20px 5px 20px;
    color: rgb(255, 255, 255);
    background: rgb(221, 133, 181);
    width: 220px;
    border: 1px solid rgba(23, 4, 90, 0);
    display: inline-block;
}

.home-find-more-about ul li a:hover,
.home-find-more-about ul li a:active {
    border: 1px solid rgba(23, 4, 9, 0.2);
}

.home-about-facts {
    color: rgb(255, 255, 255);
    width: 100%;
    background: rgb(131, 210, 229);
    margin-top: 60px;
    padding-bottom: 40px;
}

p.about-facts-title {
    font-weight: 700;
    font-size: 45px;
    margin-top: 36px;
    display: inline-block;
}

.home-about-facts ul {
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    margin: 25px auto 0;
    width: 535px;
}

.home-about-facts ul li {
    display: inline-block;
    padding: 10px;
    float: left;
}

.home-about-facts ul li p:first-child {
    font-size: 30px;
}

.home-about-facts ul li p:last-child {
    font-size: 17px;
}

.home-video-block {
    color: #fff;
    /*height: 500px;*/
}

.home-video-block a.go-to-movie {
    display: block;
    margin: 20px auto 0;
    width: 160px;
    background: rgb(131, 210, 228);
    padding: 5px 0;
}

.video-our-culture {
    height: 260px;
    background: url("../img/base/book.jpg") no-repeat center;
    font-size: 30px;
}

.video-our-culture p:first-child {
    font-size: 45px;
    margin-bottom: 25px;
}

.relative {
    position: relative;
}

.home-web-block {
    position: relative;
    height: 500px;
    border: 1px solid #000000;
}

.home-web-block p:first-child {
    font-size: 45px;
    margin-top: 70px;
}

.home-web-block ul {
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    margin: 250px 0 0;;
    font-size: 35px;
}

.home-web-block ul li {
    display: inline-block;
    padding: 10px;
}

.home-web-block ul li a {
    text-decoration: none;
    margin: 4px;
    padding: 5px 20px 5px 20px;
    color: #fff;
    background: rgba(135, 216, 159, 0.85);
    width: 100%;
    border: 1px solid rgba(23, 4, 90, 0);
}

.home-web-block ul li a:hover,
.home-web-block ul li a:active {
    border: 1px solid rgba(23, 4, 9, 0.2);
}

.floatingHeader {
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
}

.wrapper-parallax {
    /*margin-top: 100px;*/
    margin-bottom: 5em;
}

.page .content {
    background: rgb(255, 255, 255);
}

.h-video-wrapp {
    width: 100%;
    position: relative;
    white-space: nowrap;
}

#video_background {
    width: 100%;
}

.h-video-on-video {
    background: url("../img/base/video_overlay_pattern.png");
    position: relative;
    z-index: 100;
}

.h-video-centered-content {
    position: relative;
    width: auto;
    margin: 0 auto;
}

.push-for-menu {
    background: #fff;
}

/* End Home page */

/*Web Page*/

.web, .art {
    background: rgb(255, 255, 255);
    text-align: center;
}

.web .web-introduction {
    width: 70%;
    margin: 60px auto 0;
}

.web #web-tags-container {
    width: 80%;
    margin: 60px auto 0;;
    color: #fff;

}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.web #web-tags-container .item {
    background: #87d7a0;
    padding: 3px 0px;
    cursor: pointer;
    / / margin : 5 px 0;
    /*height: 60px;*/
    float: left;
    border: 10px solid #fff;

}

.web #web-tags-container .item:hover {
    background: #f2f2f2;
    color: #696969;
}

.web #web-tags-container .item {
    width: 20%;
}

.web #web-tags-container .item.w4 {
    width: 40%;
}

.ui-tooltip, .arrow:after {
    background: #666;
    border: 0;
}

.ui-tooltip {
    background: #666;
    color: white;
    border: none;
    padding: 5px;
    opacity: 0.9;
    width: 15em;
    text-align: center;
    font-size: 0.8em;
}

.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
}

.arrow.top {
    top: -16px;
    bottom: auto;
}

.arrow.left {
    left: 20%;
}

.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 25px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    tranform: rotate(45deg);
}

.arrow.top:after {
    bottom: -20px;
    top: auto;
}

/*End Web Page*/

/*Movies Page*/
.page.movie {
    background: rgb(255, 255, 255);
}

.movie .content {
    width: 900px;
    margin: 0 auto;
}

.movie-thumbs-wrapper {
    margin: 50px 0;
}

.movie-thumbs-wrapper a:visited,
.movie-thumbs-wrapper a:link {
    color: #fff;
}

.video-thumb-box {
    width: 300px;
    height: 300px;
    position: relative;
    display: block;
    float: left;
    color: #fff;
}

.video-thumb-box img,
.video-thumb-box div.thumb-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
}

.video-thumb-box:hover div.thumb-overlay {
    z-index: 2;
}

.video-thumb-box img {
    z-index: 1;
}

.video-thumb-box div.thumb-overlay {
    z-index: 0;
    background: rgba(130, 210, 230, 0.9);
}

.video-thumb-box .title {
    position: absolute;
    left: 10px;
    top: 10px;
}

.video-thumb-box .thumb-play-btn {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    margin-top: -25px;
}

.video-thumb-box .credentials {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.video-thumb-box .current-thumb-overlay {
    width: 100%;
    height: 50px;
    margin: 0 auto;
    position: relative;
    top: 50%;
    margin-top: -25px;
    z-index: 1;
    text-align: center;
}

.movie-current-wrapper {
    margin: 50px 0 0;
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}

.movie-current-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.movie .pagination {
    margin-top: 15px;
    text-align: center;
}

.movie .pagination ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.movie .pagination ul li {
    overflow: hidden;
    display: inline;
}

.movie .pagination ul li a {
    text-decoration: none;
    padding: 0px 14px;
    color: rgb(133, 132, 138);
    background: none;
}

/*End Movies Page*/

/*Art Page*/

/*START Art animation*/
.art .content {
    position: relative;
    /*top:200px;*/
}

.art .art-animation {
    border: 1px solid #d55b5b;
    min-height: 750px;
    width: 70%;
    margin: 0 auto;
    position: relative;
    display: none;
}

.art-animation img {
    position: absolute;
    width: 100%;
}

/*------------------*/

/*END Art animation*/
.art .footer {
    /*temporary*/
    z-index: 1;
}

.art-first-section {
    width: 80%;
    max-width: 1050px;
    margin: 0 auto;
}

.art-block-1 {
    padding: 3px 20px;
    background: rgb(221, 133, 181);
    color: rgb(255, 255, 255);
    left: 1%;
    margin: 100px 0 0;
    font-size: 50px;
    float: left;
    position: relative;
}

.art-block-2 {
    padding: 3px 7px;
    background: rgba(0, 0, 0, 0);
    color: inherit;
    margin: 20px auto;
    font-size: 20px;
    text-align: left;
    width: 527px;
}

.art-block-3 {
    padding: 3px 7px;
    background: #f2f2f2;
    color: #dd85b5;
    left: 20%;
    margin: 80px 0 0;
    font-size: 50px;
    float: left;
    position: relative;
}

.art-block-4 {
    /*width: 50%;*/
    padding: 3px 7px;
    background: transparent;
    color: inherit;
    left: 15%;
    margin: 80px 0 0;
    font-size: 20px;
    float: left;
    position: relative;text-align: left;
}
.art-block-4 span {
    color: #dd85b5;
}
.art-block-5 ul {
    padding: 0;
    list-style-type: none;
    list-style-image: none;
    margin: 20px auto 0;
    width: 100%;
    font-size: 16px;
}

.art-block-5 ul li {
    padding: 10px;
width: 145px;
margin: 0 4.7%;
display: inline-block;
list-style-type: none;
vertical-align: top;
}
.art-block-5 ul li div,
.art-block-5 ul li p { 
    /*display: inline-block;*/
    /*float:left;*/
}
.art-block-5 ul li p {    
    margin: 12px 0 0;
}

.art-block-6 {
    margin-top: 80px;
    width: 100%;
    /*height: 300px;*/
    /*background: #283744;*/
}

.art-block-7 {
    margin-top: 80px;
    width: 100%;
    height: 300px;
    background: #343434;
}
.art .base-header {
    position: fixed;
    width: 100%;
    top:0;
}
.no-visible {
    visibility: hidden;
}
.art .content {
    /*top:100px;*/
    z-index: 2;
}

.art-block-5 ul li a {
    text-decoration: none;
    margin: 4px;
    /*padding: 5px 20px 5px 20px;*/
    color: #85848a;
    background: none;
    width: 35px;
    height: 35px;
    display: inline-block;
    /*float: left;*/
}

.art-block-5 li div:first-child {
    /*    -webkit-transition: background 0.2s ease-out;
        -moz-transition: background 0.2s ease-out;
        -o-transition: background 0.2s ease-out;
        transition: background 0.2s ease-out;*/
    cursor: pointer;
    height: 81px;
}

.art-block-5 li[rel="interface"] div:first-child {
    background: url("../img/icons/art_icons.png") bottom left;
}

.art-block-5 li[rel="interface"] div:first-child:hover,
.art-block-5 li[rel="interface"] div:first-child:focus{
    background: url("../img/icons/art_icons.png") top left;
}

.art-block-5 li[rel="brand"] div:first-child {
    background: url("../img/icons/art_icons.png") -125px 81px;
}

.art-block-5 li[rel="brand"] div:first-child:hover,
.art-block-5 li[rel="brand"] div:first-child:focus {
    background: url("../img/icons/art_icons.png") -125px 0;
}
.art-block-5 li[rel="print"] div:first-child {
    background: url("../img/icons/art_icons.png") -251px -81px;
}

.art-block-5 li[rel="print"] div:first-child:hover,
.art-block-5 li[rel="print"] div:first-child:focus {
    background: url("../img/icons/art_icons.png") -251px 0;
}
.art-block-5 li[rel="communication"] div:first-child {
    background: url("../img/icons/art_icons.png") bottom right;
}

.art-block-5 li[rel="communication"] div:first-child:hover,
.art-block-5 li[rel="communication"] div:first-child:focus {
    background: url("../img/icons/art_icons.png") top right;
}

.art-block-5 ul li a:hover,
.art-block-5 ul li a:focus,
.art-block-5 ul li a.active {
    color: #d68caf;
}

/*Slider*/

#art-carousel img {
    display: block;
    clear: both;
    width: 100%;

}


.list_carousel ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
}
.list_carousel li {
    color: #999;
    text-align: center;
    /*width: 50px;*/
    /*height: 50px;*/
    padding: 0;
    margin: 0;
    display: block;
    float: left;
}
.list_carousel.responsive {
    width: auto;
    margin-left: 0;
}
.clearfix {
    float: none;
    clear: both;
}
.prev {
    float: left;
    margin-left: 10px;
}
.next {
    float: right;
    margin-right: 10px;
}
.art-block-6 .pager {
    width: 300px;
    text-align: center;
    margin: 0 auto;
}
.art-block-6 .pager a {
    border: 1px solid grey;
    padding: 1px;
    margin: 6px 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
}
.art-block-6 .pager a span {
background: rgb(255, 255, 255);
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
display: block;
padding: 4px;
width: 9px;
}

.pager a.selected span {
    background: #d68caf;
}



/*.art-block-5 .pager {
    position: absolute;
    top: 40%;
    right: 15px;
    display: block;
}

.art-block-5 .pager ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-image: none;
}

.art-block-5 .pager ul li {
    border: 1px solid grey;
    padding: 1px;
    margin: 6px 0;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.art-block-5 .pager ul li span {
    background: #fff;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display: block;
    padding: 6px;
}

.art-block-5 .pager ul li:hover span,
.art-block-5 .pager ul li.active span {
    background: #d68caf;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    display: block;
    padding: 6px;
}

.art-block-5 .pager ul li:hover {
    cursor: pointer;
}*/




/*End art page*/












.push-10 {
    height: 10px;
    clear: both;
}

.push-20 {
    height: 20px;
    clear: both;
}

.push-30 {
    height: 30px;
    clear: both;
}

.push-40 {
    height: 40px;
    clear: both;
}

.push-50 {
    height: 50px;
    clear: both;
}

.push-60 {
    height: 50px;
    clear: both;
}

.push-70 {
    height: 50px;
    clear: both;
}

.push-80 {
    height: 50px;
    clear: both;
}

.push-90 {
    height: 50px;
    clear: both;
}

.push-100 {
    height: 50px;
    clear: both;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
    .home-top-land .h-top-slogan-wrapp {
        width: 225px;
    }

    .push {
        height: 0;
    }

    .footer {
        position: relative;
    }

    .home ul li {
        width: 80%;
    }

    .h-video-on-video {
        font-size: 0.6em;
    }

    .home-find-more-about ul li a {
        width: 80%;
    }

    .fb-like {
        display: none !important;
    }

    .home-top-land .h-top-slogan-wrapp {
        width: 80%;
        font-size: 35px;
    }

    .home-top-land .h-top-phone {
        font-size: 18px;
        margin: 20px auto 10px !important;
        width: 190px;
        float: none !important;
    }

    .home-top-land .h-top-sub-slogan {
        font-size: 25px;
    }

    /*Disable fixed element for mobile*/
    .push {
        height: 0em;
    }

    .footer {
        position: relative;
    }

    .floatingHeader {
        display: none;
    }

    /*Masonory*/
    .web #web-tags-container .item,
    .web #web-tags-container .item.w4 {
        width: 100%;
    }
}

@media only screen and (min-width: 320px) and (max-width: 680px) {
    .logo-img-wrapper {
        max-width: 150px;
    }

    .base-navigation {
        padding: 0px 0;
    }

    .base-navigation ul li a {
        padding: 0px 10px 0px 10px;
        font-size: 1em;
    }

    .contact-animation {
        font-size: 1.2em;
        width: 100%;
    }

    #dot-31 span.here-top {
        margin: -10px 0 0 -20px;
    }

    .h-top-phone {
        font-size: 0.8em;
    }

    .h-top-phone {
        margin: 20px auto 10px !important;
        width: 190px;
        float: none !important;
    }

    .home-about-facts ul,
    .home-web-block ul {
        width: 100%;
        display: block;
        overflow: hidden;
    }

    .home-about-facts ul li {
        width: 50%;
        float: left;
        position: relative;
        padding: 0;
        height: 100px;
    }

    .home-web-block ul li {
        width: 50%;
        float: left;
        position: relative;
        padding: 0;
        height: 50px;
    }

    .fb-like {
        top: 23px;
    }

    .floatingHeader {
        display: none;
    }

    /*Masonory*/
    .web #web-tags-container {
        width: 95%;
    }

    .web #web-tags-container .item,
    .web #web-tags-container .item.w4 {
        width: 50%;
    }

    .movie .content {
        width: 300px;
    }

    .video-thumb-box {
        width: 150px;
        height: 150px;
    }

}

/*Kind of tablet*/
@media only screen and (min-width: 680px) and (max-width: 1024px) {
    .logo-img-wrapper {
        max-width: 250px;
    }

    .base-navigation {
        padding: 0px 0;
    }

    .base-navigation ul li a {
        padding: 0px 10px 0px 10px;
        font-size: 1em;
    }

    .push {
        height: 0em;
    }

    .footer {
        position: relative;
        z-index: 0;
    }

    .floatingHeader {
        display: none;
    }

    /*Masonory*/
    .web #web-tags-container .item {
        width: 33.33%;
    }

    .web #web-tags-container .item.w4 {
        width: 66.66%;
    }

    .movie .content {
        width: 680px;
    }

    .video-thumb-box {
        width: 226px;
        height: 226px;
    }
}

/*Large desktop*/
@media only screen and (min-width: 1024px) {
    .movie .content {
        width: 1050px;
    }

    .video-thumb-box {
        width: 350px;
        height: 350px;
    }
}